html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}
.container{
  padding: 10px;

}
.lineChart{
  width: 100%;
}
@media (max-width: 920px) {
  .container {
    max-width: 100%;
  }
}
.planTable{
  width: 100%;
}
.warningsTable{
  width: 100%;
}

.tableContainer{
  display: grid;
  grid-template-columns: 6fr 10fr;
  gap: 10px;
  max-width: 100%;
}

@media (max-width: 920px) {
.tableContainer{
  grid-template-columns: 1fr;
}

}
.overTableButtons{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.tableDiv{
  display: grid;
  grid-template-columns: 1fr;
}
.underTableInputs{
  align-items: center;
  justify-content: center;
}
.input{
  width: 25%;
}

.underTableInputsSet1{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  align-items: center;
  justify-content: center;
}

.lineChartInputs{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}
.pieCharts{
  display: flex;
}
.pieChart{
  width: 33.3%;
}
.chartPlanInformationDiv{
  display: grid;
  grid-template-columns:  1fr 4fr;
}
.information{
  font-size: 12px;
  padding: 0px 20px;
}
.informations{
  box-shadow: 0px 0px 5px #ccc;
  padding-top: 5px;
}

