div.fullPage{
  display: flex;
  justify-content: space-evenly;
}

div.chartPageSize{
  width: 59%;
  margin: 0.5%;
}

div.tablePageSize{
  width: 39%;
  margin: 0.5%;
}
table {
  width: 100%;
}
.days_button
{
  width: 70%;
}
.change_day_button{
  width: 15%;
}
.selectType{
  width: 17.5%;
}
.selectExercise{
  width: 17.5%;
}
.input{
  width: 12.5%;
}
.savePlan{
  width: 15%;
}

.selectChartType{
  width: 20%;
}
.doubleSelect{
  width: 50%;
}
.Apply{
  width: 10%;
}
.pieChart{
  float: left;
  width: 33%;
}
.warningsTable{
  width: 33%;
}
.planInformation{
  //display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
