div{float: left}
div{
  width: 49%;
  margin: 0.5%;
}
table {
  width: 100%;
}
.days_button
{
  width: 70%;
}
.change_day_button{
  width: 15%;
}
.selectType{
  width: 17.5%;
}
.selectExercise{
  width: 17.5%;
}
.input{
  width: 12.5%;
}
.savePlan{
  width: 15%;
}

.selectChartType{
  width: 20%;
}
.doubleSelect{
  width: 50%;
}
.Apply{
  width: 10%;
}
